<nb-layout>
  <nb-layout-header class="main-header" fixed>
    <button nbButton status="control" size="large" (click)="sidebarToggle()">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </button>
    <h1 class="header-title">{{selectedItem?.title}}</h1>
    <nb-icon class="header-icon" *ngIf="selectedItem?.icon" [icon]="selectedItem.icon"></nb-icon>
    <button class="app-minimize window-btn" nbTooltip="Звернути" status="basic" nbButton (click)="appMinimize()">
      <nb-icon icon="minus"></nb-icon>
    </button>
    <button class="window-btn" [nbTooltip]="isMax ? 'Звернути у вікно' : 'Розвернути на весь екран'"
            nbButton status="basic" (click)="appMaximize()">
      <nb-icon [icon]="isMax ? 'minus-square-outline' : 'external-link'"></nb-icon>
    </button>
    <button class="window-btn quit" nbTooltip="Закрити програму" status="danger" nbButton (click)="appQuit()">
      &times;
    </button>
  </nb-layout-header>

  <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>
    <nb-menu tag="menu" [items]="menuItems"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
