.header-icon {
  font-size: 36px;
}
.main-header {
  -webkit-app-region: drag;

  button {
    -webkit-app-region: no-drag;
    padding: 10px;
    margin: 5px;
  }

  .app-minimize {
    margin-left: auto;
  }
}
