<div class="flex-center direction-column">
  <label>Розділення тексту
    <textarea [(ngModel)]="textArea" rows="10" nbInput fullWidth shape="round" placeholder="Text Area"></textarea>
  </label>
  <button [class.no-pointer]="isProcess" nbButton status="primary" outline
          [nbSpinner]="isProcess" nbSpinnerStatus="basic" nbSpinnerSize="medium"
          [disabled]="!(textArea | trim)" (click)="separate()">Розділити
  </button>
</div>

<div *ngIf="separatedText" class="separated flex-center">
  <p *ngFor="let str of separatedText">{{str}}</p>
</div>
