<button nbTooltip="Будьте обережні! Ця дія видалить всі документи з наявної бази даних та розпочне нове сканування та індексацію документів в обраному архіві."
        nbTooltipStatus="danger" nbTooltipPlacement="bottom" nbButton status="danger" outline size="large"
        [nbSpinner]="isReindexing" [class.no-pointer]="isReindexing" nbSpinnerStatus="danger" nbSpinnerSize="large"
        (click)="reindex()">Почати переіндексацію!
</button>
<div class="list">
  <pre>{{filesList | json}}</pre>
</div>

<nb-card>
  <nb-card-header>Пошук Дублікатів (тестовий)</nb-card-header>
  <nb-card-body>
    <div class="flex-center direction-column">
      <label>Текст для пошуку (тестова версія)<textarea [(ngModel)]="textArea" rows="10" nbInput fullWidth shape="round"  placeholder="Text Area"></textarea></label>
      <button nbButton size="giant" status="basic"
              [nbSpinner]="isSearching" [class.no-pointer]="isSearching" nbSpinnerStatus="basic" nbSpinnerSize="large"
              [disabled]="!textArea" (click)="search(textArea)">Шукати</button>
    </div>
    <br>
    <div *ngIf="searchResults">
      <div *ngFor="let result of searchResults">
        <div class="result-title"><h5>{{result?._source?.name}}</h5> <span>&nbsp;&nbsp;&nbsp;Кількість балів: {{result._score | number:'1.0-0'}}</span></div>
        <div *ngFor="let highlight of result?.highlight?.full_text">
          <p [innerHTML]="highlight | emToStrong"></p>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
